    /* Styling the dashboard elements */
    #selectDrop {
        background-color: #d2eaef;
        opacity: 0.8;
        width: 100%;
        height: auto;
        padding: 10px;
        display: block;
        border-radius: 3px;
    }

    #selectDrop input {
        width: 100%;
    }

    div#results {
        background: #FFF;
    }

    .mapboxgl-ctrl.mapboxgl-ctrl-group {
      margin: 24px;
    }

    .box {
        width: 320px;
        background: #f2f2f2;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    hr {
        margin: 15px auto;
    }

    /* Making custom styling for slider inputs */
    input[type=range] {
        -webkit-appearance: none;
        border: 1px solid white;
        background: transparent;
        border: none;

        cursor: pointer;
        flex: 1;
        padding: auto 10px;

        margin: auto 5px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 3px;
        background: #1785FB;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #1785FB;
        margin-top: -4px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-moz-range-track {
        height: 3px;
        background: #1785FB;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-moz-range-thumb {
        border: none;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #1785FB;
    }

    input[type=range].white-thumb::-moz-range-thumb {
        border-radius: 50%;
        border: 2px solid #1785FB;
        background: white;
        height: 12px;
        width: 12px;
    }

    input[type=range].white-thumb::-webkit-slider-thumb {
        border-radius: 50%;
        border: 3px solid #1785FB;
        background: white;
        height: 15px;
        width: 15px;
        margin-top: -6px;
    }

    input[type=range].white-thumb::-ms-thumb {
        border-radius: 50%;
        border: 2px solid #1785FB;
        background: white;
        height: 12px;
        width: 12px;
    }

    input[type=range]:-moz-focusring {
        outline: 1px solid white;
        outline-offset: -1px;
    }

    input[type=range]::-ms-track {
        height: 3px;
        background: transparent;
        border-color: transparent;
        border-width: 6px 0;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #1785FB;
    }

    input[type="range"]::-moz-range-progress {
        background: #1785FB;
    }

    input[type=range]::-ms-fill-upper {
        background: #ccc;
    }

    input[type="range"]::-moz-range-track {
        background: #ccc;
    }

    input[type=range]::-ms-thumb {
        border: none;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #1785FB;
    }

    button.js-button {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        border: 0;
        box-shadow: none;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        margin: 0;
        margin-right: 10px;
        text-align: left;
        padding: 0;
        color: #1785FB;
        font-size: 36px;
    }

    button:active { outline:none; background-color: rgb(235, 235, 235);}

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      float: left;
    }

    #map {
        flex: 1;
    }

    #js-duration-span {
        background: white;
        border: 1px solid #ddd;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Customize the label (the container) */
    .container {
      display: inline-block;
      
      padding-left: 20px;
      margin-right: 10px;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;            
      border: 3px solid #1785FB;
      background: white;
      border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: rgb(129, 177, 228)
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    